body {
	background: url('/static/assets/images/background.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    background-position: center;
}

.light {
	font-weight: 100;
}

.semibold {
	font-weight: 600;
}

.extrabold {
	font-weight: 800;
}

.styled-footer {
	bottom: 0;
	width: 100%;
	background-color: #8c0000;
	padding-top: 10px;
	display: flex;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-text {
	color: white;
	font-size: 1.2rem;
	width: fit-content;
	margin-top: 0.5rem;
	width: 75%;
}

.fa {
	font-size: 8rem;
	color: white;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
}

.header-contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header-contact-info > p {
	font-size: 20px;
}

.contact-us {
	color: rgb(167, 3, 15);
	margin: 0;
}

.email-contact {
	color: white;
	margin: 0;
}


.main-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.virus-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.virus-image-caption {
    display: flex;
}

.virus-case {
    color: 'black';
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Roboto;
}

.virus-image {
    height: 500px;
    width: 500px;
}

.register-form {
    width: 100%;
    padding: 2rem 0;
    display: flex;
}

.register-header {
    font-size: 58px;
    color: rgb(163, 0, 0);
    text-align: left;
    font-weight: bold;
    line-height: normal;
}

.form-header {
    font-size: 58px;
    color: rgb(163, 0, 0);
    text-align: left;
    font-weight: bold;
    line-height: normal;
}

.form-description {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 10px;
}
	background: url('/static/assets/images/background.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    background-position: center;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.light {
	font-weight: 100;
}

.semibold {
	font-weight: 600;
}

.extrabold {
	font-weight: 800;
}

.styled-footer {
	bottom: 0;
	width: 100%;
	background-color: #8c0000;
	padding: 2rem 0;
	display: flex;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-container > .fa {
    font-size: 50px;
}

.logo-text {
	color: white;
	font-size: 1.2rem;
	width: fit-content;
	margin-top: 0.5rem;
	width: 75%;
}

.fa {
	font-size: 8rem;
	color: white;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
}

.header-contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header-contact-info > p {
	font-size: 20px;
}

.contact-us {
	color: rgb(167, 3, 15);
	margin: 0;
}

.email-contact {
	color: white;
	margin: 0;
}


.main-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.copyright {
    text-align: center;
    justify-content: center;
    padding: 30px;
}