<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="initial-scale=1">
    <title>Fund Covid</title>
    <link rel="stylesheet" media="screen" href="https://www.clickfunnels.com/assets/lander.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7COswald:400,700%7CDroid+Sans:400,700%7CRoboto:400,700%7CLato:400,700%7CPT+Sans:400,700%7CSource+Sans+Pro:400,600,700%7CNoto+Sans:400,700%7CPT+Sans:400,700%7CUbuntu:400,700%7CBitter:400,700%7CPT+Serif:400,700%7CRokkitt:400,700%7CDroid+Serif:400,700%7CRaleway:400,700%7CInconsolata:400,700"
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'custom/css/base.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'custom/css/app.css' %}" type='text/css'>
    <title>Fund Covid</title>
</head>

<body>
    <!-- Header/Navigation -->
    <div class="container-fluid">
        <div class="header-container">
            <img src="{% static 'assets/images/fundcovid.png' %}" style='max-width: 400px'>
            <div class="header-contact-info">
                <p class="contact-us">Contact Us:</p>
                <p class="email-contact">fundcovid@gmail.com</p>
            </div>
        </div>
    </div>

    <!-- Main part -->
    <main role="main" class="container mt-3">
        {% block content %}

        {% endblock %}
    </main>

    <!-- Footer -->

    <footer class="navbar fixed-bottom styled-footer">
        <div class="container-fluid" style="background: transparent !important">
            <div class="row mt-3">
                <div class="footer-container col-md-3">
                    <i class="fa fa-dollar-sign"></i>
                    <div class="logo-text">
                        ALL DONATIONS ARE SENT DIRECTLY TO PROJECTS.
                    </div>
                </div>
                <div class="footer-container col-md-3">
                    <i class="fa fa-bullhorn"></i>
                    <div class="logo-text">
                        GET YOUR PROJECT IN FRONT OF THE EYES IT NEEDS.
                    </div>
                </div>
                <div class="footer-container col-md-3">
                    <i class="fa fa-bomb"></i>
                    <div class="logo-text">
                        HELP US MITIGATE THE IMPACT OF COVID-19 CRISIS.
                    </div>
                </div>
                <div class="footer-container col-md-3">
                    <i class="fa fa-globe-americas"></i>
                    <div class="logo-text">
                        LET US ANSWER THE CALL TOGETHER AS A GLOBAL COMMUNITY.
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="copyright">
                    <p>Copyright © 2020 Fund Covid. All Rights Reserved.</p>
                </div>
            </div> -->
        </div>
    </footer>
</body>

</html>