{% extends "./base.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column center-block mb-5">
    <main role="main" class="inner cover">

        <div class="jumbotron text-center align-items-center landing">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead">Thanks for registering! 
                As we get closer to our launch, look out for emails 
                from us with more instructions!</p>
            <hr>
            <p>
                Having trouble? <a href="mailto:Fundcovid@gmail.com">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-lg bg-dark text-white" style="background-color: #8c0000; color: white;" href="/"
                    role="button">Continue to homepage</a>
            </p>
        </div>
    </main>
</div>
{% endblock %}
