{% extends "./base.html" %}
{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Thank you for your information. We will get back to you shortly!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum a amet minus doloribus harum enim, veritatis ipsa iusto! Quam eius consectetur quis, asperiores excepturi obcaecati tenetur et voluptas corporis eligendi.</p>
        <p class="lead">
            <a href="/" class="btn btn-lg btn-secondary">Home</a>
        </p>
    </main>
</div>

{% endblock %}