{% extends "./base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="registration-container">
                <div class='register-header'>
                    <h1 class='form-header'>Combat the Crisis</h1>
                    <p class='form-description'>
                        Let us help your project get the funding it needs to fight COVID-19
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="project-name" aria-describedby="project-name-form"
                            placeholder="Enter a Project Name...">
                        <small id="project-name" class="form-text ">Enter a name for your
                            project.</small>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter a short project description"></textarea>
                        <small id="project-name" class="form-text ">Enter some details about your
                            project.</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-name"
                            placeholder="Enter a point of contact">
                        <small id="contact-name" class="form-text ">Enter a name for your point of
                            contact</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="contact-email" placeholder="Enter a email contact">
                        <small id="contact-email" class="form-text ">
                            Enter an email to get in touch
                        </small>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="need-funding">
                        <small id="need-funding" class="form-text ">Check box if you need
                            funding</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="funding-amount"
                            placeholder="Enter an amount to be funded">
                        <small id="funding-amount" class="form-text ">
                            Enter a requested funding amount 
                        </small>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn submit-button">Get your project funded <i
                                class='fa fa-arrow-right'></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div className="col-md-6">
            <div class="virus-image-container">
                <div class="virus-image-caption">
                    <p class="virus-case-number">Covid-19 Cases: </p>
                    <p class="virus-case"> &nbsp;1,503,012</p>
                </div>
                {% load static %}
                <img class="virus-image" src="{% static 'assets/images/coronavirus.jpg' %}"></img>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="mission-statement-container">
                <hr />
                <p class="mission-statement-text">
                    Our mission is to help projects fighting against COVID-19 get the funding
                    they need.
                </p>
                <hr />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 justify-content-center">
            <div class="map-section">
                <p class="map-caption">Global Covid-19 Cases:</p>
                <iframe width="400" height="300" frameBorder="0" scrolling="no"
                    src="https://www.arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class='covid-info-container'>
                <div class='info-container-top'>
                    <div class='info-text-header'>What We Do:</div>
                    <div class='info-description'>
                        We facilitate the connection between private investors & COVID-19
                        projects. All donations are processed through stripe to get cash to
                        the people who need it quickly.
                    </div>
                </div>
                <div class="info-container-bottom">
                    <div class='info-text-header'>Who We Help:</div>
                    <div class='info-description'>
                        We help any organized effort working to combat COVID-19 or its impacts.
                        If you have one, or are working on one - reach out so we can help.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class='funding-container'>
                <hr />
                <!-- <div class='fund'> -->
                <div class='stat-container'>
                    <p class='stat-category'>
                        Covid-19 Projects: <b class='stat-num'>292</b>
                    </p>
                    <p class='stat-category'>
                        Covid-19 Projects Funded: <b class='stat-num'>0</b>
                    </p>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>




{% endblock %}