{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="main-page-container">
        <div class="row">
            <div class="col-md-4">
                <div class="register-form">
                    <div class='register-header'>
                        <h1 class='form-header'>Combat the Crisis</h1>
                        <p class='form-description'>
                            Let us help your project get the funding it needs to fight COVID-19
                        </p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="project-name"
                                aria-describedby="project-name-form" placeholder="Enter a Project Name...">
                            <small id="project-name" class="form-text text-muted">Enter a name for your
                                project.</small>
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="exampleInputPassword1"
                                placeholder="Enter a short project description"></textarea>
                            <small id="project-name" class="form-text text-muted">Enter some details about your
                                project.</small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="contact-name"
                                placeholder="Enter a point of contact">
                            <small id="contact-name" class="form-text text-muted">Enter a name for your point of
                                contact</small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="contact-email"
                                placeholder="Enter a email contact">
                            <small id="contact-email" class="form-text text-muted">
                                Enter an email to get in touch
                            </small>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="need-funding">
                            <small id="need-funding" class="form-text text-muted">Check box if you need
                                funding</small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="funding-amount"
                                placeholder="Enter an amount to be funded">
                            <small id="funding-amount" class="form-text text-muted">
                                Enter a name for your point ofcontact
                            </small>
                        </div>

                        <button type="submit" class="btn btn-danger submit-button">Get your project funded <i
                                class='fa fa-arrow-right'></i></button>
                    </form>
                </div>
            </div>
            <div className="col-md-8">
                <div class="virus-image-container">
                    <div class="virus-image-caption">
                        <p class="virus-case">CoronaVirus Cases:</p>
                        <p class="virus-case"> 378,679</p>
                    </div>
                    <img class="virus-image" src="./images/coronavirus.jpg"></img>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="mission-statement-container">
            <br />
            <div class="mission-statement-text">
                Our mission is to help projects fighting against COVID-19 get the funding
                they need.
            </div>
            <br />
        </div>
    </div>

    <div class="middle-section-container">
        <div class="map-section">
            <div class="map-caption">Gloabal Covid-19 Cases:</div>
            <iframe width="400" height="300" frameBorder="0" scrolling="no"
                src="https://www.arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c"></iframe>
        </div>
        <div class='covid-info-container'>
            <div class='info-container'>
                <div class='text-header'>What We Do:</div>
                <div class='info-description'>
                    We facilitate the connection between private investors & COVID-19
                    projects. All donations are processed through stripe to get cash to
                    the people who need it quickly.
                </div>
            </div>
            <div class='text-header'>Who We Help:</div>
            <div class='info-description'>
                We help any organized effort working to combat COVID-19 or its impacts.
                If you have one, or are working on one - reach out so we can help.
            </div>
        </div>
    </div>

    <div class="row">
        <div class='funding-container'>
            <br />
            <!-- <div class='fund'> -->
            <div class='stat-container'>
                <div class='stat-category'>Covid-19 Projects: </div>
                <div class='stat-num'>292</div>
            </div>
            <div class='stat-container'>
                <div class='stat-category'>Covid-19 Projects Funded: </div>
                <div class='stat-num'>0</div>
            </div>
        </div>
        <br />
    </div>
</div>



{% endblock %}