.container-inner {
    width: 100%;
}

.no-border {
    border: none !important
}

.col-left {
    width: 50%;
}


.img-wrapper {
    max-width: 500px;
}

#brand-image {
    max-width: 500px
}

.col-left {
    margin-left: 0px;
}
* {
    // border: 1px black solid;
}